<% for (var i = 0; i < inner.length; i++) { %>
        <section class="inner">
            <h2 class="inner__title"><%- inner[i].title %></h2>
            <p class="inner__text"><%- inner[i].text %></p>
        </section>
<% } %>