<main>
    <section class="main">
        <h1 class="main__title"><%- main.title %></h1>
        <p class="main__text"><%- main.text %></p>
        <%- include('_inner', {inner: inner}); %>
    </section>
</main>