    <meta charset="UTF-8">
    <title><%= header.title %></title>
    <meta name="description" content="<%= header.lede %>">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/script.js"></script>
